
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                {{ t('site_name') }}
            </th>
            <th style="width: 7%;">
                {{ t('disabled') }}
            </th>
            <th style="width: 7%;">
                {{ t('actions') }}
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach $pages
            <tr>
                <td>
                    <a href="{{ $item->getId() }}">{{ $item->getPageName() }}</a>
                </td>
                <td>

                </td>
                <td>
                    <a href="{{ $item->getId() }}"><span class="fa fa-pencil-square-o"></span></a>
                    <a href="{{ url('pages/delete/id/'.$item->getId()) }}" class="delete " ><span class="fa fa-times-circle error"></span></a>
                </td>
            </tr>
        @endforeach

    </tbody>
</table>

{{ pagination($allPages) }}


<script>

$('a.delete').click(function(){
    var a = $(this);
    bootbox.confirm("Are you sure?", function(result) {
        if(result) {
            location.href = a.attr('href');
        }
    });

    return false; 
});

</script>