<div class="row">
    <form action="" method="post">
        <div class="col-lg-6">
            <div class="form-group">
                <label>{{ t('site_name')}}:</label>
                <input type="text" name="page[pageName]" class="form-control" value="{{ $page->getPageName() }}"/>
                <label>{{ t('page_url')}}:</label>
                <input type="text" name="page[pageUrl]" class="form-control" value="{{ $page->getPageUrl() }}" />
                <textarea id="pageStructJson" name="page[pageStructJson]" style="display: none;" ></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">            
                <input type="submit" class="btn btn-success" value="{{ t('save') }}" />
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div id="pageSpace" class="col-lg-12">


    </div>
</div>




<!-- Modal -->
<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{{ setJs('js/plugins/GridGenerator.js') }}

<script>




var grid = new GridGenerator();

@if $page->getPageStructJson()
    grid.setJson('{{ $page->getPageStructJson()|raw }}')
@endif

grid.setContainer($('#pageSpace'));
grid.init();

</script>

<style>
#pageSpace{
    background-color: #6D6D6D;
}
#pageSpace .row {
    /*background-color: #828274;*/
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pageSpace .row.active{
    border: solid 1px #0f0;
}

#pageSpace .row .colcol{
    background-color: #21211A;
    min-height: 50px;
    background-clip: content-box;
}
</style>